body{
    text-align: center;
    background-color: cyan;
}
div{
    margin-top: 15px;
}
img{
    height: 200px;
    width: 220px;
}
.section style{
    margin-right: 25px;
    margin-left: 25px;
    background-color: azure
}